
*{
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;

}

img {
    width: 600px;
    height: 350px;

}

.carousel{
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.9);
    height: 380px;
    width: 600px;
    overflow: hidden;
    border: 3px solid #fff;
    border-left: none;
    border-bottom: none;
    border-radius: 5px 5px 0 0;

}

.image-container{
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;

}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button{
    margin: 2px 80px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;

}

.button:hover{
    opacity: 0.5;
}

i{
    margin: 0 10px;

}










